absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
blinker==1.9.0
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.3.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
distro==1.9.0
executing==2.0.1
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.50.0
gast==0.6.0
google-pasta==0.2.0
graphwalker==1.0.3
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httpx==0.27.2
huepy==1.2.1
idna==3.4
ipykernel==6.29.3
ipython==8.22.2
itsdangerous==2.2.0
jax==0.4.32
jaxlib==0.4.32
jedi==0.19.1
Jinja2==3.1.2
jiter==0.6.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==3.7.0
kiwisolver==1.4.5
libclang==18.1.1
livereload==2.6.3
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.4.11
MarkupSafe==2.1.3
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.4.0
namex==0.0.8
nest-asyncio==1.6.0
numpy==1.26.4
openai==1.52.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
optional-django==0.3.0
optree==0.13.1
packaging==24.0
pandas==2.2.3
parso==0.8.3
php==1.2.1
pillow==10.2.0
platformdirs==4.2.0
prettytable==3.9.0
prompt-toolkit==3.0.43
protobuf==4.25.4
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.5.2
Pygments==2.17.2
PyOpenGL @ file:///C:/Users/daffa/Downloads/PyOpenGL-3.1.6-cp311-cp311-win_amd64.whl#sha256=5773dc0b29a7f54939b18bb3f7e9060c149693ea94f1ae832837a57ffc55adfe
PyOpenGL-accelerate @ file:///C:/Users/daffa/Downloads/PyOpenGL_accelerate-3.1.6-cp311-cp311-win_amd64.whl#sha256=56e36648ce3cb37341c5a74b3bb3aca831ce752c265819b9cb9263ee16cff0a2
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
pyzmq==25.1.2
react==4.3.0
requests==2.31.0
rich==13.9.4
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
sounddevice==0.5.0
stack-data==0.6.3
tabulate==0.9.0
tailwind==3.1.5b0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tornado==6.4
tqdm==4.66.6
traitlets==5.14.2
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.7
vite==1.5.2
wcwidth==0.2.9
Werkzeug==3.1.3
wrapt==1.17.0
